	body{	
		margin: 0px;
		padding; 0px;
		background-color: white;
		overflow-x: hidden;
		height: 1080px;
		font-family: Century Gothic;}
	
	button{
		font-family: Century Gothic;}
		
	header{
		position: fixed;
		top: 0.03vh;
		z-index:10000;
		width: 98.9vw;
		font-size: min(16pt, 2vh);
		height: 5vh;
		border-radius: 100px;
		background-color: #1d1d1b;
		margin-bottom: 0;
		margin-left: 0;}
	
	.disp{
		margin: 0;}

	.disp button{
		color: white;
		border: none;
    		background: none;
		padding: 0;
		margin: 0;
		vertical-align: middle;
		font-size: min(16pt, 2vh);
		margin-top: 0.2vh;
		font-weight: 0;
		max-height: 40px;
		min-height: 5px;
		}
	
	.disp li{
		vertical-align: middle;
		display: inline;
		margin-right: 6vw;
		max-height: 40px;
		min-height: 5px;}
	
	.disp a{
		vertical-align: middle;}
	
	#map{	
		position: relative;
		top: -20%;
		right: -80%;
		width: 15vw;
		height: 23vh;
		padding: 0;
		z-index: 100;}
	
	#scroll_bottom1 {
		position: relative;
		left: 49%;
		bottom: 20vh;
		width: 3vw;
		height: 3vw;
		z-index: 10;
		background: transparent;
		border: 0;}
	
	#scroll_bottom2 {
    		position: relative;
		left: 0;
		top: 10%;
		height: 4vw;
		width: 4vw;
    		}
	
	.next_overlays3 {
    		position: relative;
		left: 42vw;
		top: -37vh;
		width: 15vw;
    		}
	
	.partner{
		width: 120vw;
		margin-top: 0px;
		margin-left: -12vw;
		margin-bottom: 7vh;
		font-size: 5vw;
		font-weight: bold;
		color: #1d1d1b;
		text-align: center;
		position: relative;
		border: solid;
		border-color: #a79aff;
		border-radius: 20vw;
		border-width: 1vw;}
	
	.gallery{
		width: 50vm;
		margin-top: 1vh;
		margin-left: 3vw;
		margin-bottom: 0;
		font-size: 7vw;
		font-weight: 1000;
		color: #a79aff;
		text-align: left;}
	
	.more{
		position: relative;
		top: -6vh;
		left: 65vw;
		margin-bottom: 0;
		font-size: 3vw;
		font-weight: bold;
		color: white;
		border-radius: 5vw;
		background: #a79aff;}
	
	#gall{
		margin-top: 0px;
		margin-bottom: 0px;
		vertical-align: middle;
		margin-left: -15vw;
		width: 500vw;
		height: 60vh;
		max-height: 330px;
		border: dashed;
		border-color: white;
		border-width: 1vw;
		text-align: left;
		background: #1d1d1d;}
	
	#gallM{
		margin-top: 0px;
		margin-bottom: 0px;
		vertical-align: middle;
		width: 100vm;
		height: 30px;
		text-align: center;
		background: #1d1d1d;}
	
	#gallM1{
		margin-top: 0px;
		margin-bottom: 10vh;
		vertical-align: middle;
		width: 100vw;
		height: 30px;
		text-align: center;
		background: #1d1d1d;}
	
	#gall img{
		height: 60vh;
		max-height: 250px;
		min-height: 20px;
		border: dashed;
		border-color: #a79aff;
		border-radius: 3px;
		border-width: 0.2vw;
		}
	
	#gall li{
		margin-right: 1.7vw;
		display: inline;
		}
	
	#gall ol{
		margin-left: 12vw;
		margin-top: 2vh;
		vertical-align: middle;
		}
	
	.blockA{
		height: 90vh;
		min-height: 100px;
		margin-top: 5vh;
		}
	
	.blockT{
		margin-top: 0vh;
		margin-bottom: 3.5vh;
		margin-left: 20vw;
		margin-right: 15vw;
		font-size: 6vw;
		color: #1d1d1b;
		text-align: left;
		height: 90vh;
		max-width: 70vw;
		}
	
	.blockP1{
  		padding: 0;
  		overflow: none;
		width: 98vw;
		min-height: 60vh;}
	
	.blockP1 p{	
		position: relative;
		left: 47vw;
		bottom: 5vh;
		font-size: 2vw;
		width: 50vw;
		align: right;
		color: #1d1d1d;}
	
	.blockP2{
		position: absolute;
		top: 255vh;
		left: 26vw;
  		padding: 0;
  		background: none;
  		overflow: none;
		width: 100vw;
		height: 40vh;}
	
	summary {
  		list-style-type: none;
		}
	
	#img1{
		align: left;
		position: relative;
		left: -55vw;
		width: 36%;
		display: block;
		vertical-align: top;
		transition: 800ms;}
	
	#img1:hover{
		width: 38%;
		transition: 800ms;}
	
	#img3{
		width: 14%;
		position: relative;
		right: 10vw;
		bottom: 2.4vh;
		transition: 800ms;}
	
	#img3:hover{
		width: 16%;
		transition: 800ms;
		border-radius: 44%;}


	a{
		color: white;
		text-decoration: none;}
	
	.txtm button{
		border: 0;
		border-radius: 10vw;
		color: #1d1d1b;
		font-size: 6vw;
		background: #a79aff;
		font-weight: bold;}
	
	.txtm a{
		border: 0;
		border-radius: 10vw;
		color: #1d1d1b;
		font-size: 6vw;
		background: #a79aff;
		font-weight: bold;}
	
	.txtB:hover{
		background: linear-gradient(to right, #a79aff, #714ab7);}	
	

	.animB:hover {
		color: #a79aff;
		transition: 800ms;
		}
	
	.animC:hover {
		background-color: #a79aff;
		transition: 800ms;
		}
	
	.ButtonReady {
		color: #a79aff;}
	
	video{
		width: 99vw;
    		border-radius: 2% 2% 0 0;
    		object-fit: fit;
		margin-bottom: 5vh;
		vertical-align: top;
		}
	
	.imgA{
		margin-top: 0.5vh;
		max-height: 4vh;
		min-height: 0px;
		margin-left: 11vw;
		margin-right: 11vw;
		vertical-align: middle;	
		}
	
	.foot{
		width: 100vw;
		margin-top: 30px;
		background: #1d1d1b;
		}
	
	#headC{
		font-size: 4vw;
		color: white;
		margin-bottom: 2vh;
		margin-top: 3vh;
		}
	
	.headAd{
		margin-left: 4vw;
		margin-bottom: 0;
		font-size: 1.5vw;
		margin-top: 70px;
		color: #a79aff;
		}
	
	.foot ul{
		list-style-type: none;
		margin-left: 1vw;
		width: 100%;
		font-size: 1.5vw;
		color: white;
		}
	
	.foot ol{
		text-align: center;
		height: 64px;	
		width: 100%;
		margin-top: 0px;
		display: inline;
		list-style-type: none;
		}
	
	.foot ol li{
		display: inline;
		margin-left: 19vw;
		color: #a79aff;
		}
	
	.cont{
		height: 6vw;
		margin-left: 0;
		border-radius: 50%;
		background: white;
		}

	.foot ul li{
		margin-bottom: 2vh;
		color: #a79aff;
		}