	body{	
		margin: 0px;
		padding; 0px;
		background-color: white;
		overflow-x: hidden;
		height: 1080px}
	
	#map{	
		position: relative;
		top: -20%;
		right: -80%;
		width: 15vw;
		height: 23vh;
		padding: 0;
		z-index: 100;}
	
	#scroll_bottom1 {
		position: relative;
		left: 49%;
		bottom: 10vh;
		width: 3vw;
		height: 3vw;
		z-index: 10;
		background: transparent;
		border: 0;}
	
	#scroll_bottom2 {
    		position: relative;
		left: 0;
		top: 10%;
		height: 64px;
		width: 64px;
    		}
	
	.next_overlays3 {
    		position: relative;
		left: 42%;
		top: -37%;
		width: 15vw;
    		}
	
	.partner{
		width: 120vw;
		margin-top: 0px;
		margin-left: -12vw;
		margin-bottom: 7vh;
		font-size: 5vw;
		font-weight: bold;
		font-family: Century Gothic;
		color: #1d1d1b;
		text-align: center;
		position: relative;
		border: solid;
		border-color: #a79aff;
		border-radius: 20vw;
		border-width: 1vw;}
	
	.gallery{
		width: 50vm;
		margin-top: 1vh;
		margin-left: 3vw;
		margin-bottom: 0;
		font-size: 7vw;
		font-weight: bold;
		font-family: Century Gothic;
		color: #a79aff;
		text-align: left;}
	
	.more{
		position: relative;
		top: -6vh;
		left: 65vw;
		margin-bottom: 0;
		font-size: 3vw;
		font-weight: bold;
		font-family: Century Gothic;
		color: white;
		border-radius: 5vw;
		background: #a79aff;}
	
	#gall{
		margin-top: 0px;
		margin-bottom: 0px;
		vertical-align: middle;
		margin-left: -20px;
		width: 100vw;
		height: 50vh;
		border: dashed;
		border-color: white;
		border-width: 20px;
		text-align: left;
		background: #1d1d1d;}
	
	#gallM{
		margin-top: 0px;
		margin-bottom: 0px;
		vertical-align: middle;
		width: 100vm;
		height: 30px;
		text-align: center;
		background: #1d1d1d;}
	
	#gallM1{
		margin-top: 0px;
		margin-bottom: 10vh;
		vertical-align: middle;
		width: 100vw;
		height: 30px;
		text-align: center;
		background: #1d1d1d;}
	
	#gall img{
		width: 21.5vw;
		border: dashed;
		border-color: #a79aff;
		border-radius: 3px;
		border-width: 0.2vw;
		}
	
	#gall li{
		margin-right: 1.7vw;
		display: inline;
		}
	
	#gall ol{
		margin-left: 1vw;
		margin-top: 2vh;
		vertical-align: middle;
		}
	
	.blockA{
		height: 90vh;
		}
	
	.blockV{
		width: 100vw;
  		border-radius: 100vw;}
	
	.blockT{
		margin-top: 0px;
		margin-bottom: 3.5vh;
		margin-left: 10vw;
		margin-right: 0px;
		font-size: 6vw;
		font-family: Century Gothic;
		color: #1d1d1b;
		text-align: left;
		height: 90vh;
		}
	
	.blockP{
  		padding: 10px;
  		background: none;
  		overflow: auto;
		width: 100vw;
		margin-bottom: 0;}
	
	.block3{
		border-radius: 10vw;
		background: radial-gradient(circle at 40px 30px, #1d1d1b, #3A4235);
		margin-left: 10vw;
		margin-right: 40px;
		width: 60vw;
		padding-bottom: 17%;}
	
	.block3 img{
		width: 100%;
		position: relative;
		object-fit: cover;
		top: -2vh;
		margin: 0;}
	
	.block4{
		border-radius: 10vw;
		background: radial-gradient(circle at 40px 30px, #1d1d1b, #3A4235);
		margin-left: 30vw;
		margin-right: 40px;
		width: 60vw;
		padding-bottom: 17%;}
	
	.block4 img{
		width: 100%;
		position: relative;
		top: -2vh;
		object-fit: cover;
		margin: 0;}


	a{
		color: white;
		text-decoration: none;}
	
	.txtm button{
		border: 0;
		border-radius: 10vw;
		color: #1d1d1b;
		font-size: 6vw;
		background: #a79aff;
		font-family: Century Gothic;
		font-weight: bold;}
	
	.txtm a{
		border: 0;
		border-radius: 10vw;
		color: #1d1d1b;
		font-size: 6vw;
		background: #a79aff;
		font-family: Century Gothic;
		font-weight: bold;}
	
	.txtB:hover{
		background: linear-gradient(to right, #a79aff, #714ab7);}

	.disp{
		height: 40px;
		border: solid;
		border-radius: 100px;
		border-color: #1d1d1b;
		background-color: #1d1d1b;
		margin-bottom: 0;
		margin-top: 5px;
		margin-left: 0;
		font-size: max(17px, 1vw);
		position: sticky;
		top: 10px;
		font-family: Century Gothic;
		vertical-align: middle;
		}	
	
	.disp button{
		color: white;
		background: tarnsparent;
		border: none;
		font-size: 2.5vh;
    		background: none;
		font-family: Century Gothic;
		vertical-align: middle;
		height: 40px;
		}
	
	.disp li{
		vertical-align: middle;
		display: inline;
		font-size: 2.5vh;
		margin-right: 6vw;
		margin-top: 10px;
		height: 40px;}

	.animB:hover {
		color: #a79aff;
		transition: 800ms;
		}
	
	.animC:hover {
		background-color: #a79aff;
		transition: 800ms;
		}
	
	.ButtonReady {
		color: #a79aff;}
	
	video{
		width: 99vw;
		position: relative;
		top: 0;
    		border-radius: 1.7vw 1.7vw 0 0;
    		object-fit: fit;
		}
	
	.imgA{
		margin-top: 0.25vh;
		height: 5vh;
		max-height: 40px;
		margin-left: 11vw;
		margin-right: 11vw;
		vertical-align: middle;	
		}
	
	.foot{
		width: 100vw;
		height: 100vh;
		margin-top: 30px;
		background: #1d1d1b;
		}
	
	#headC{
		font-size: 4vw;
		color: white;
		font-family: Century Gothic;
		margin-bottom: 2vh;
		margin-top: 3vh;
		}
	
	.headAd{
		margin-left: 4vw;
		margin-bottom: 0;
		font-size: 1.5vw;
		font-family: Century Gothic;
		margin-top: 70px;
		color: #a79aff;
		}
	
	.foot ul{
		list-style-type: none;
		margin-left: 1vw;
		width: 100%;
		font-size: 1.5vw;
		color: white;
		font-family: Century Gothic;
		}
	
	.foot ol{
		text-align: center;
		height: 64px;	
		width: 100%;
		margin-top: 0px;
		display: inline;
		list-style-type: none;
		}
	
	.foot ol li{
		display: inline;
		margin-left: 19vw;
		color: #a79aff;
		}
	
	.cont{
		height: 6vw;
		margin-left: 0;
		border-radius: 50%;
		background: white;
		}

	.foot ul li{
		margin-bottom: 2vh;
		color: #a79aff;
		}